<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="myfirst">
  <xacro:include filename="$(find qube_driver)/ros2_control/qube_driver.ros2_control.xacro"/>

  <xacro:arg name="baud_rate" default="9600"/>
  <xacro:arg name="device" default="/dev/ttyACM0"/>
  <xacro:arg name="simulation" default="true"/>

  <xacro:qube_driver_ros2_control 
    name="qube_driver" prefix="" 
    baud_rate="$(arg baud_rate)" 
    device="$(arg device)" 
    simulation="$(arg simulation)" />
  
  <link name="world"/>
  <link name="base_link"/>

  <joint name="base_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <xacro:include filename="$(find qube_description)/urdf/qube.macro.xacro"/>
  <xacro:qube parent="base_link" prefix=""/>
</robot>